<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit Your Product</h1>

    <form action="/products/<%= product._id %>?_method=PUT" method="POST">

        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="Product Name" value="<%=product.name%>">

        <label for="price">Price (Unit)</label>
        <input type="number" name="price" id="price" placeholder="Product Price" value="<%=product.price%>">

        <label for="catagory">Select Catagory</label>
        <select name="catagory" id="catagory">
            <option value="fruit" <%=product.catagory === 'fruit' ? 'selected' : ''%>>Fruit</option>
            <option value="vegetable" <%=product.catagory === 'vegetable' ? 'selected' : ''%>>Vegetable</option>
            <option value="dairy" <%=product.catagory === 'dairy' ? 'selected' : ''%>>Dairy</option>
        </select>

        <button>Submit</button>

    </form>
</body>

</html>